@use "sass:color";
@use "../colors";
@use "../config";

.thunar .view:selected {
  background-color: color.change(colors.$accent-primary, $alpha: config.$tint-medium);
  border: 1px solid colors.$red;
  border-radius: 5px;
  color: colors.$white-strong;
}

.thunar .view cell:selected {
  background-color: color.change(colors.$accent-primary, $alpha: config.$tint-medium);
  border-radius: 5px;
  color: colors.$white-strong;
}

.thunar .view:hover {
  background: colors.$pink-custom;
  border-radius: 6px;
  color: colors.$red-custom;
}


