$surface-strongest: rgb(35,27,40);
$surface-strong: rgb(35,27,40);
$surface-moderate: rgb(193,186,250);
$surface-weak: rgb(35,27,40);
$surface-weakest: rgb(35,27,40);

$white-strongest: rgb(145,140,188);
$white-strong: rgba(193,186,250, 0.87);
$white-moderate: rgba(193,186,250, 0.34);
$white-weak: rgba(193,186,250, 0.14);
$white-weakest: rgba(193,186,250, 0.06);

$black-strongest: rgb(41,12,70);
$black-strong: rgba(41,12,70, 0.87);
$black-moderate: rgba(189,17,80, 0.42);
$black-weak: rgba(41,12,70, 0.15);
$black-weakest: rgba(193,186,250, 0.06);

$red-normal: rgb(189,17,80);
$red-light: rgb(100,73,146);
$orange-normal: rgba(35,27,40, 0.8);
$orange-light: rgb(35,27,40);
$yellow-normal: rgb(35,27,40);
$yellow-light: rgb(35,27,40);
$green-normal: rgb(193,186,250);
$green-light: rgb(184,175,240);
$cyan-normal: rgb(193,186,250);
$cyan-light: rgb(193,186,250);
$blue-normal: rgb(35,27,40);
$blue-light: rgb(35,27,40);
$purple-normal: rgb(193,186,250);
$purple-light: rgb(216,212,244);
$pink-normal: rgb(184,175,240);
$pink-light: rgb(216,212,244);
$pink-custom: rgb(75,55,109);
$pink: rgb(103,89,141);
$red: rgb(137,118,187);
$red-custom: rgb(138,131,180);

$accent-primary: $purple-normal;
$accent-secondary: $green-normal;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$surface-strong};
