@use "sass:color";
@use "../colors";
@use "../config";

iconview {
    background: colors.$surface-strong;
    padding: 0.3em;

    &:selected {
        color: colors.$white-strong;
        background: color.change(colors.$accent-primary, $alpha: config.$tint-medium);
        border-radius: 0.5em;
    }
}

